@import './layouts/header';

.pool-color {
    mix-blend-mode: multiply;
}

.img-config-container {
    aspect-ratio: 16/9;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}