.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    .block-item {
        padding: 1rem;
        border: 1px solid #ddd;
        text-align: center;
    }

    img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
    }
}