{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="block">
    <h2>{{ title }}</h2>
    {{ form(form) }}
    <hr>
    <h3>Liste des dimensions</h3>
    {% for dim in dims %}
        <div class="line">
            <p>{{ dim.taille }}</p>
            <ul>
                <li>Supprimer</li>
            </ul>
        </div>
    {% endfor %}
</section>
{% endblock %}